:root{
    --blk:#000;
    --wht:#fff;
}
body{
    background:url('/images/sundown.jpeg');
    background-size: initial;
}
h1{
    color:var(--blk);
}
.copy, .copy a{
    color: var(--wht);
}

.jumbotron{
    background: none;
}
.jumbotron p, .jumbotron h1{
    color: var(--wht);
}